# Package Files #
/Workspace/.metadata/
/Workspace/TileRotation/bin/
/Workspace/TileRotation/.settings/
/Workspace/TileRotation/.classpath
/WorkspaceVDM/.metadata/
/WorkspaceVDM/.metadata/Blokus/generated/
