# Package Files #
.gitignore~
/Workspace/.metadata/
/Workspace/TileRotation/bin/
/Workspace/TileRotation/.settings/
/Workspace/TileRotation/.classpath
/WorkspaceVDM/Blokus/generated/
/WorkspaceVDM/.metadata/
